<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJRcHzWp9xldQOqUWlvmR8sqg1r0CFB8k</string>
	<key>GCM_SENDER_ID</key>
	<string>1000503691381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.roomFinder</string>
	<key>PROJECT_ID</key>
	<string>roomfinder-1bc61</string>
	<key>STORAGE_BUCKET</key>
	<string>roomfinder-1bc61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000503691381:ios:dc6438109842f714f6d03c</string>
</dict>
</plist>